.login{
height:100vh;
display: flex;
justify-content:center;
text-align:center;
margin-top:100px;
}

#Username{
  width:600px !important;
}
#Password{
  width:600px !important;
}
#loginbtn{
margin-top:25px !important;

width:900px !important}

#registerpagebtn{
margin-top:25px !important;

width:900px !important}

.register{
  height:100vh;
  display: flex;
  justify-content:center;
  text-align:center;
  margin-top:100px;
  direction:column;
  }

#registerbtn{
  margin-top:25px !important;

  width:900px !important}

#loginbtnpg{
  margin-top:25px !important;

  width:900px !important}

.fileUpload{
display:flex;
justify-content: center;
margin-top:50px;}

.searchText{
  display:flex;
justify-content: center;
margin-top:50px;
}

.file-card {
  margin: 20px auto;
  max-width: 80%;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.file-title {
  margin-bottom: 10px;
  color: #333;
}

.file-content {
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: 500px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.search-query {
  margin: 10px;
  color: #555;
}

.search-instructions {
  margin: 10px;
  color: #777;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin: 20px;
}